<div class="chat-header">
  <div class="chat-name">
    <%= @room.name %>
  </div>
  <div class="chat-end">
    <%= link_to "チャットを終了する", room_path(@room), method: :delete %>
  </div>
</div>

<div class="main-chat">
  <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@room, @message], class: 'chat-form', local: true do |f| %>
  <form class="message-form">
    <div class="image-back">
      <%= f.text_field :content, placeholder: 'type a message', class: 'comment-form' %>
        <label class="form-image">
          <span class="image-file">画像</span>
          <%= f.file_field :image, class: 'hidden' %>
        </label>
    </div>
      <%= f.submit '送信', class: 'send' %>
  </form>
<% end %>
